/* SubHeader */

.subHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.subHeader div {
    background-color: grey;
    border-radius: 20cm;
    padding-left: 10px;
    height: 30px;
}

.subHeader span {
    vertical-align: sub;
    font-size: large;
}

.subHeader :nth-child(1) {
    margin-left: 10px;
    flex: 3;
}

.subHeader :nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
    flex: 2;
}

.subHeader :nth-child(3) {
    margin-right: 10px;
    flex: 1;
}


/* Content */

.content {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}


/* informations */

.informationsClient {
    width: 100%;
}

.dossierSection {
    height: fit-content;
    background-color: rgb(141, 141, 141);
    border-radius: 20px;
    padding: 5px 20px;
}

.dossierSection h1 {
    font-size: large;
}

.dossierSection h2 {
    font-size: medium;
}

.dossierSection p {
    line-height: 1.2;
}

.contactClient {
    min-width: 100px;
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
    padding: 1px 20px;
    margin: 2px 0px;
}


/* Devis  */

.imgDevis div img {
    max-width: 30vw;
    max-height: 75vh;
}

.imgDevis figcaption {
    text-align: center;
    color: gray;
}

.imgDevis {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.imgDevis div {
    display: flex;
    flex-direction: row;
}

.devis {
    background-color: rgb(141, 141, 141);
    border-radius: 20px;
    margin: 5px;
}